.slider {
	 padding: 0 0 5px;
}
 .slider .slides img {
	 height: 80vh;
	 width: auto;
	 padding: 2vh;
}

@media (max-width: 768px) {
	.slider .slides img{
		height: 60vh;
	}
}

.slide-item{
	position: relative;
}

.slick-slider .slick-track .slick-slide{
	position: relative;
}
.slide-item.slick-slide.slick-current.slick-active.slick-center{
	position: relative;
}


 /* .slider.is-admin:before {
	 display: block;
	 content: "";
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 40px;
	 position: absolute;
	 z-index: 1;
} */
 