.slider-header {
	 padding: 0 0 5px;
}
 .slider-header .slides img {
	 width: 100vw;
     height: auto;
}

.slider-header .slides .slide-item{
    position: relative;
}


/* @media (max-width: 768px) {
	.slider-header .slides img{
		height: 60vh;
	}
} */